.service-img{
    height: 250px;
    width: 100%;
}
.services-container h1 {
    padding-bottom: 20px;
}

.services-container {
    padding: 20px 0;
}
.service{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 10px 80px;

}
.single-service {
    border: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    transition: .3s;
}

.single-service img {
    margin-bottom: 20px;
}
.single-service:hover{
    box-shadow: 0 5px #333;
}